public/dist

bower_components/
npm-debug.log
node_modules/
*.un~
*.swp
mongodb/connect.js
.DS_Store
.env
public/products/
public/showcases/

#Semantic
assets/vendor/Semantic-UI/node_modules
assets/vendor/Semantic-UI/dist


# git secret hidden files
/dist

.yarnclean

*dist.zip
yarn-error.log
.idea/

imhof-secret/