// Colors

@gold: #e9deb9;
//@bg: #fbf4f6; // very light rose
@bg: #fbf7f4; // very light brown


@yellow:#ffa700;
@blue: #99d9ff;
@light-gray: #eaeaea ;
@winered: #C8343A;
@light-yellow: lighten(@primary-color, 30);

@very-light-gray:lighten(@light-gray,5);
@dark-gray: #333;
@primary-color:@yellow;
@secondary-color:@winered;
@tertiary: @winered;
